body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}
.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation-link {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.navigation-link:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.navigation-link:focus {
  color: #404bbf;
}
.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-info-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}
.contact-link:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
.desc {
  background-color: #2e2f42;
  min-height: 600px;
  padding: 188px 0;
}

.desc-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.desc-button:hover {
  background: #404bbf;
}
.desc-button:focus {
  background-color: #404bbf;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.dark {
  color: #2e2f42;
}
.light {
  color: #f4f4fd;
}
.desc-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background: #2e2f42;
  align-items: center;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-title:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.benefits-item {
  width: 264px;
}
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-members,
.portfolio {
  padding: 120px 0;
}
.team-members {
  background-color: #f4f4fd;
}
.team-members-title {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-members-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-members-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  min-height: 380px;
  width: calc((100% - 3 * 24px) / 4);
}
.member-data {
  padding: 32px 0;
}

.team-members-list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.team-members-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 360px;
}
.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfilio-container {
  padding-bottom: 120px;
}
.app-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: 156px;
  margin-right: 156px;
  margin: 0 auto;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  width: 264px;
}
